

/* Resetting margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Code Pro', monospace; 
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
  }

  html {
    scroll-behavior: smooth; 
  }
  
  #main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background: transparent; 
    color: #333;
    position: fixed; 
    top: 0;
    z-index: 10;
    font-family: 'Source Code Pro', monospace; 
    left: 0;
    width: 100%;
    transition: background-color 0.3s; /
}

.logo {
    height: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 1em;
}

.nav-link {
    color: #9101ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f4f4f4;
}



/* Intro Section Styling */
.intro-section {
    display: flex;
    min-height: 100vh;
    ;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the start for the left side */
    padding: 2em;
}

.right-side {
    align-items: flex-end; /* Align items to the end for the right side */
    color: #fff;
}

.left-side {
    flex: 2.23;
    background-color: #fff;
}

.right-side {
    flex: 1.77;
    background-color: #000;
}

.intro-section h1  {
    margin: 0 20px; 
    font-size: 7.5em; 
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 
}

.intro-section p{
    margin: 0 20px; /* Add horizontal margin for breathing space */
    font-size: 7.5em; /* Explicitly large font size for h1 */
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 

}

.intro-section p {
    font-size: 1.5em;
    font-family: 'Source Code Pro', monospace;
    position: relative;
    white-space: nowrap;
}

/* Specific to the typewriter description to avoid affecting other p tags */
/* .typewriter-description {
    overflow: hidden;
    width: max-content;
} */


.typewriter-text {
    overflow: hidden; /* Hides overflow text */
    white-space: nowrap; /* Ensure the text stays in a single line */
    animation: typing 6s steps(44) 1s forwards, blink-caret .6s step-end infinite; /* Keep the cursor blinking */
}

/* Adjust the typing animation to include the cursor */
@keyframes typing {
    from { 
        width: 0; 
        border-right: .15em solid black; /* Initial state of the cursor */
    }
    to { 
        width: 100%; 
        border-right: .15em solid black; /* Keep the cursor at the end */
    }
}

/* Cursor blink effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255, 250, 250); }
}



.left-side header, .right-side header {
    width: 100%;
}

.left-side header {
    text-align: right; /* Text aligned right for content close to the division */
}

.right-side header {
    text-align: left; /* Text aligned left for content close to the division */
}

  /* Only apply negative margins if necessary and after evaluating layout */
.left-side header, .right-side header {
    margin-left: 20px; /* Moderately closer to the division */
    margin-right: 20px;
  }

/***************************** Media query for intro section *************************/



@media only screen and (max-width: 1280px) {
    .intro-section p {
      font-size: 5em; /* Smaller font size for laptop screens */
    }
  }
  
  /* Adjustments for mobile devices */
  @media only screen and (max-width: 640px) {
    .intro-section {
      flex-direction: column; /* Stack sections vertically */
      justify-content: center;
      align-items: center;
    }
  
    .intro-section p,
    .typewriter-text {
      font-size: 2.5em; /* Further reduce font size for mobile */
      margin: 0; /* Remove horizontal margin */
      text-align: center; /* Center-align text */
    }
  
    .left-side, .right-side {
      align-items: center; /* Center content for left and right sections */
      padding: 1em; /* Reduce padding */
    }
  
    .left-side header, .right-side header {
      text-align: center; /* Center-align header text */
    }
    
    /* Adjust typewriter animation to fit the mobile viewport */
    .typewriter-text {
      overflow: hidden;
      white-space: nowrap;
      display: block; /* Ensure full width */
      width: 100%; /* Force full width */
      border-right: 0.15em solid black; /* Maintain cursor */
    }
  
    /* Adjust keyframe animations for mobile */
    @keyframes typing {
      from { 
        width: 0; 
      }
      to { 
        width: 100%; 
      }
    }
  
    @keyframes blink-caret {
      from, to { border-color: transparent; }
      50% { border-color: black; }
    }
    
  }
  
  


   

  
/* About Section */
.about-section {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Center text */
    width: 100vw; /* Full width of the viewport */
    height: 650px; /* Fixed height as specified */
    overflow: hidden; /* Prevent overflow */
    background-color: #fff; /* Set background color to white */
    margin: auto; /* Center the section if needed */
}



/* Define the slide-in animation */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Apply the animation to the image container */
.image-container {
    flex: 2.27;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 1s ease-out forwards; /* Adjust duration as needed */
}

.image-container img {
    width: 100%; /* Ensure image covers the container width */
    height: 100%; /* Ensure image covers the container height */
    object-fit: cover; 
}

.text-container {
    flex: 1.73;
    text-align: left; /* Align text to the left */
    padding: 0 2em; /* Add padding to ensure text doesn't touch the edges */
}

.text-container h2 {
    font-weight: bold; /* Make the text bold */
    font-size: 90px; /* Large font size for visibility */
    color: #333; /* Dark color for contrast */
    margin: 0; /* Remove default margin */
    margin-bottom: 0.25em; /* Minimally space below the heading to bring paragraph closer */
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: -1.5px; /* Tighten the letter spacing similar to Apple's style */
}

.text-container p {
    font-size: 20px; /* Slightly larger paragraph font size for readability */
    line-height: 1.6; /* Improved line spacing for better readability */
    max-width: 600px; /* Limit the width of the text for optimal reading length */
    margin-top: 0; /* Ensure paragraph is directly below heading */
    margin-bottom: 1em; /* Maintain some space below paragraph */
    padding: 0; /* Reset padding */
}



/***************************** Media query for about section *************************/

@media (max-width: 1280px) {
    .text-container h2 {
        font-size: 70px; /* Slightly smaller for less screen width */
    }
    
    .text-container p {
        font-size: 18px; /* Slightly smaller for better fit */
        max-width: 500px;
    }
}

/* Small Screens: Adjustments for mobile devices, under 768px width */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        height: auto; /* Adjust height as content stacks vertically */
    }
    
    .image-container, .text-container {
        width: 100%; /* Full width for stacked layout */
        padding: 1em; /* Adjust padding for smaller screen */
    }
    
    .text-container h2 {
        font-size: 40px; /* Much smaller font size for mobile */
        margin: 0.5em 0; /* Adjust margins for tighter spacing */
    }
    
    .text-container p {
        font-size: 16px; /* Smaller font size for mobile */
        max-width: none; /* Allow text to fill container width */
    }
}





.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #f3f3f3;
    padding: 4em 1em;
}


.portfolio-section h2 {
    /* Gradient background */
    background: -webkit-linear-gradient(left, #d93fff, #f940bc 30%, #f03540 71%, #fedb10);
    background: linear-gradient(to right, #d93fff, #f940bc 30%, #f03540 71%, #fedb10);
    /*used chat gpt to get this gradient font.*/
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; 

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0.25em;
    letter-spacing: -1.5px;
}
.portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 4em 1em;
}

.portfolio-section h2 {
    font-size: 100px;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.25em;
}

/* General styles for portfolio items with a 3D effect */
.portfolio-item {
    display: flex;
    width: 1500px;
    margin: 30px auto; /* Increase margin for visual separation */
    background-color: #fff;
    border: 1px solid #ddd; /* Subtle border for added definition */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    /* Double-layered shadow for a deeper 3D effect */
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.1),
        0 6px 6px rgba(0, 0, 0, 0.1) inset; /* Inset shadow for added depth */
}

/* Enhancing hover effect for a 'lifting off' the background appearance */
.portfolio-item:hover {
    transform: translateY(-10px); /* Move up slightly on hover for a lifting effect */
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.2),
        0 10px 10px rgba(0, 0, 0, 0.1) inset; /* Enhanced shadows for deeper effect */
}

/* Specific styles for the top box */
.item-1 {
    align-items: center;
    height: 600px;
    background-color: #f3dbff;
}

/* Specific styles for the bottom box */
.item-2 {
    height: 250px;
    background-color: #DDEEFF; /* Light blue background for distinction */
}

.content, .media {
    padding: 20px;
    flex: 1;
}
.media {
    position: relative; /* Establish a positioning context */
    width: 100%; /* Ensure container takes full width of its parent */
    height: 650px; /* Set a fixed height to ensure space for the video */
    overflow: hidden; /* Hide parts of the video that overflow */
}

.media video {
    position: absolute; 
    left: 50%; 
    transform: translateX(-385px); 
    width: 770px; /* Set video width */
    height: 620px; /* Set video height */
    object-fit: cover;
}



.content {
    padding: 20px;
    flex: 1;
    padding-top: -40px; /* Adjusted to reduce space at the top */
}

.heading-with-logo {
    text-align: left; /* Align content to the left */
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start (left) */
}

.meme-me-logo {
    margin-bottom: 5px; /* Adjust space between the logo and the heading */
    width: 150px; /* Logo width */
    height: auto; /* Maintain aspect ratio */
}



.content h3, .content p, .content a {
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #333;
}

.content h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.content p {
    font-size: 18px; /* Slightly smaller font size for a more modern look */
    line-height: 1.6;
    font-family: 'Source Code Pro', monospace; 
    color: #545454; /* A subtle, dark gray color used in Apple's typography for better readability */
    margin-bottom: 1.5em; /* Adjusted spacing to ensure clean separation of text */
    letter-spacing: 0.005em; /* Slight letter spacing for readability and modern feel */
}


.content a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1em; /* Increased top margin for more space */
}

@media (max-width: 1600px) {
    .portfolio-item {
        width: 90%; /* Make responsive */
    }
}

.portfolio-section {
    margin-bottom: 10px; /* Or a small value like 10px if you want a tiny space */
}

.expectations-section {
    margin-top: 10px; /* Or the smallest value needed to achieve the desired spacing */
}


.expectations-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px; /* Adjusted total width */
    max-width: 100%; /* Prevents overflow */
    height: 1300px; /* Total height */
    margin: auto;
    padding: 1em;
    background-color: #f3f3f3;
}




.expectations-section h2 {
    color: #333;
    background: linear-gradient(to right, #d93fff, #f940bc 30%, #f03540 71%, #fedb10);
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0.5em;
    letter-spacing: -1.5px;
}
.expectations-section h2 {
    margin-top: 0; /* Removes the top margin from the heading */
}



.expectation-row {
    display: flex;
    justify-content: space-between; /* This will create the gap between the blocks */
    align-items: center; /* This will align items vertically in the center */
    width: 100%; /* Full width of the expectations-section */
    height: 300px; /* Fixed height for the row */
}

.expectation-block {
    padding: 1em;
    border-radius: 8px;
    /* Use a stronger shadow with less spread for the base state to ensure visibility */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25); /* Enhanced visibility on white */
    color: #000000;
    font-size: 1.5em;
    height: calc(100% - 2em);
    font-family: 'Source Code Pro', monospace;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.expectation-row {
    margin-bottom: -25px; /* Adjust this value to reduce/increase the gap */
}

/* Optional: remove bottom margin from the last row */
.expectations-section .expectation-row:last-child {
    margin-bottom: 0;
}

/* Hover state */
.expectation-block:hover {
    transform: translateY(-10px) scale(1.05); /* Lifts the block and slightly enlarges it */
    /* Brighter and more pronounced shadow on hover */
    box-shadow: 0 12px 24px rgba(117, 5, 255, 0.5); /* Increased opacity for more visible shadow */
}
.expectation-block:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 24px rgba(255, 165, 0, 0.5); /* Orange shadow with increased visibility */
}

.expectation-block.three-tenths {
    flex: 0 0 30%;
    margin-right: 0.5%; /* Half of the total gap you want between blocks */
    background-color: #8AB0AB;
}

.expectation-block.seven-tenths {
    flex: 0 0 70%;
    margin-left: 0.5%; /* Half of the total gap you want between blocks */
    background-color: #B7D968;
}

/* Assuming a total of 10px gap (5px on each side of the gap between two blocks) in a 1000px container */
.expectation-block.three-tenths {
    flex: 0 0 calc(30% - 5px); /* Adjusted for 1000px width */
    background-color: #8AB0AB;
}

.expectation-block.seven-tenths {
    flex: 0 0 calc(70% - 5px); /* Adjusted for 1000px width */
    background-color: #B7D968;
}

.expectation-block.six-tenths {
    flex: 0 0 calc(60% - 5px); /* Adjusted for 1000px width */
    background-color: #68B7D9;
}

.expectation-block.four-tenths {
    flex: 0 0 calc(40% - 5px); /* Adjusted for 1000px width */
    background-color: #D968B7;
}

.expectation-block.four-five-tenths {
    flex: 0 0 calc(45% - 5px); /* Adjusted for 1000px width */
    background-color: #FFA07A;
}

.expectation-block.five-five-tenths {
    flex: 0 0 calc(55% - 5px); /* Adjusted for 1000px width */
    background-color: #20B2AA;
}

/* Adjustments for responsive behavior */
@media (max-width: 768px) {
    .expectation-row {
        flex-direction: column;
    }
    .expectation-block.three-tenths,
    .expectation-block.seven-tenths {
        flex: 0 0 100%; /* Stack the blocks on top of each other on smaller screens */
    }
}


/******************************************** media query ***********************************/
@media only screen and (max-width: 768px) {
    .expectation-row {
        flex-direction: column; /* Stack blocks vertically */
    }

    .expectation-block {
        /* Full width for each block for easier touch interaction and visibility */
        flex: 0 0 100%;
        margin: 0.5em 0; /* Adjust margins for vertical stacking */
    }

    /* Adjust heading and other elements as necessary */
    .expectations-section h2 {
        font-size: 60px; /* Smaller font size for the heading */
        margin-top: 1em; /* More space at the top */
        text-align: center; /* Center-align the heading */
    }
}

@media only screen and (max-width: 480px) {
    /* Further adjustments for smaller screens */
    .expectations-section h2 {
        font-size: 50px; /* Even smaller font size */
    }

    /* Adjust block padding and font sizes if necessary */
    .expectation-block {
        padding: 0.5em;
        font-size: 0.9em; /* Slightly smaller text for better fit */
    }
}







.main-footer {
    background: #f3f3f3; /* Light gray background from the first snippet */
    color: #000; /* Black text color */
    width: 1000px; /* Set width of the footer box */
    height: 300px; /* Set height of the footer box */
    margin: auto; /* Center the footer box on the page */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: flex-end; /* Align content to the right */
    padding: 3em 0; /* Top and bottom padding from the second snippet */
    font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.main-footer p {
    font-size: 25px; /* Increased font size from the first snippet */
    line-height: 1.4; /* Adjust line height for better readability */
    margin: 0.5em 0; /* Spacing between text lines */
    text-align: right; /* Align text to the right */
}
.main-footer .cta-text {
    font-size: 36px; /* larger font size for emphasis */
    margin-top: 0.5em; /* add some space above this line */
    font-weight: bold;
}
.signature-image {
    max-width: 100%; /* Ensures the signature image is not larger than the footer */
    height: auto; /* Maintain aspect ratio of the image */
    margin: 2em 0; /* Spacing above the signature image */
}

.social-links {
    display: flex;
    justify-content: flex-end; /* Align social links to the right from the first snippet */
    gap: 1em; /* Spacing between links from the second snippet */
    margin-bottom: 1em; /* Spacing below the links from the second snippet */
}

.social-link {
    color: #000; /* Black text color for links */
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold font weight */
    font-size: 16px; /* Font size for social links from the second snippet */
    padding: 0.5em; /* Padding around the links for clickability */
    transition: color 0.2s; /* Transition for hover effect */
}

.social-link:hover {
    color: #555; /* Dark gray color on hover */
}


  @media only screen and (max-width: 640px) {
    .nav-list {
      flex-direction: column;
      text-align: center;
    }
  
    .nav-item {
      margin-bottom: 1em;
    }
  
    .portfolio-section article {
      flex-basis: 90%;
    }
    
  }
  